openapi: 3.0.1
info:
  title: Visibility API Documentation
  description: The purpose of this documentation is to provide vehicle visibility
    via APIs
  contact:
    name: Numadic
    email: help@numadic.com
  version: 1.0.0
servers:
- url: https://api.numadic.com/
paths:
  /client/v1/lanes/speed:
    get:
      tags:
      - Lanes
      summary: To view speed between two consicutive toll plazas.
      description: To view speed between two consicutive toll plazas. Output will
        be given in percentile distribution.
      parameters:
      - name: Authorization
        in: header
        description: Authorization token provided by Numadic. Append token with "bearer
          "
        required: true
        schema:
          type: string
      - name: origin_toll
        in: query
        description: origin plaza ID
        required: true
        schema:
          type: string
      - name: destination_toll
        in: query
        description: destination plaza ID
        required: true
        schema:
          type: string
      - name: time
        in: query
        description: time in format HH:MM:SS for which the speed percentile is required
        required: true
        schema:
          type: string
      responses:
        200:
          description: |-
            The success Response after calling /client/v1/lanes-speed API Get
            status Code 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaneSpeed'
        400:
          description: Invalid Parameter
          content: {}
        500:
          description: Internal server error
          content: {}
        default:
          description: Unexpected Error
          content: {}
  /client/v1/lanes/duration:
    get:
      tags:
      - Lanes
      summary: To view the time taken(duration) between two consicutive toll plazas.
      description: To view time taken(duration) between two consicutive toll plazas.
        Output will be given in percentile distribution.
      parameters:
      - name: Authorization
        in: header
        description: Authorization token provided by Numadic. Append token with "bearer
          "
        required: true
        schema:
          type: string
      - name: origin_toll
        in: query
        description: origin plaza ID
        required: true
        schema:
          type: string
      - name: destination_toll
        in: query
        description: destination plaza ID
        required: true
        schema:
          type: string
      - name: time
        in: query
        description: time in format HH:MM:SS for which the duration percentile is
          required
        required: true
        schema:
          type: string
      responses:
        200:
          description: |-
            The success Response after calling /client/v1/lanes-duration API Get
            status Code 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaneDuration'
        400:
          description: Invalid Parameter
          content: {}
        500:
          description: Internal server error
          content: {}
        default:
          description: Unexpected Error
          content: {}
components:
  schemas:
    LaneSpeed:
      type: object
      properties:
        pointa:
          type: string
          description: Origin Toll Plaza ID
        pointb:
          type: string
          description: Destination Toll Plaza ID
        percentile_25:
          type: string
        percentile_50:
          type: string
        percentile_75:
          type: string
        percentile_90:
          type: string
        hour:
          type: string
    LaneDuration:
      type: object
      properties:
        pointa:
          type: string
          description: Origin Toll Plaza ID
        pointb:
          type: string
          description: Destination Toll Plaza ID
        percentile_25:
          type: string
        percentile_50:
          type: string
        percentile_75:
          type: string
        percentile_90:
          type: string
        hour:
          type: string
  responses:
    getLaneDuration:
      description: |-
        The success Response after calling /client/v1/lanes-duration API Get
        status Code 200
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/LaneDuration'
    getLaneSpeed:
      description: |-
        The success Response after calling /client/v1/lanes-speed API Get
        status Code 200
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/LaneSpeed'
